<form [formGroup]="testForm" (ngSubmit)="save()">
    <p-card [header]="header">
        <!-- Version -->
        <div class="md:flex md:items-center mt-2 mb-2">
            <div class="w-64">
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="version">
                    Version
                </label>
            </div>
            <div class="w-full">
                <input id="version" class="w-full" type="text" pInputText
                       formControlName="version"/>
            </div>
        </div>

        <!-- Name -->
        <div class="md:flex md:items-center mt-2 mb-2">
            <div class="w-64">
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="name">
                    Name
                </label>
            </div>
            <div class="w-full">
                <input id="name" class="w-full" type="text" pInputText formControlName="name"/>
            </div>
        </div>

        <!-- Beschreibung -->
        <div class="md:flex md:items-center mt-2">
            <div class="w-64">
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="beschreibung">
                    Beschreibung
                </label>
            </div>
            <div class="w-full">
                <textarea id="beschreibung" class="w-full" type="text" rows="3" pInputText
                          formControlName="name"></textarea>
            </div>
        </div>

        <p-divider></p-divider>

        <!-- TODO: Auslagern -->
        <div formArrayName="fragen">
            <div *ngFor="let controlQuestion of fragen.controls; index as indexQuestions"
                 [formGroupName]="indexQuestions">
                <p-fieldset [legend]="fragen.at(indexQuestions).get('name')?.value" [toggleable]="true">

                    <!-- Fragenname -->
                    <div class="md:flex md:items-center mt-2 mb-2">
                        <div class="w-64">
                            <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4">
                                Name
                            </label>
                        </div>
                        <div class="w-full">
                            <input class="w-full" type="text" pInputText formControlName="name"/>
                        </div>
                    </div>

                    <!-- Beschreibung -->
                    <div class="md:flex md:items-center mt-2 mb-2">
                        <div class="w-64">
                            <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4">
                                Beschreibung
                            </label>
                        </div>
                        <div class="w-full">
                            <input class="w-full" type="text" pInputText formControlName="beschreibung"/>
                        </div>
                    </div>

                    <!-- Hinweis -->
                    <div class="md:flex md:items-center mt-2 mb-2">
                        <div class="w-64">
                            <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4">
                                Hinweis
                            </label>
                        </div>
                        <div class="w-full">
                            <input class="w-full" type="text" pInputText formControlName="hinweis"/>
                        </div>
                    </div>

                    <button type="button" (click)="toggleAntwortTyp(controlQuestion)"
                            class="text-white bg-gray-800 rounded-lg ml-1 px-2 py-2 mb-4 text-center">
                        Antworttyp ändern
                    </button>

                    <!-- Antworten -->
                    <div formArrayName="antworten">
                        <p-fieldset legend="Antworten" [toggleable]="true" [collapsed]="true">
                            <div *ngFor="let controlAnswer of antworten(indexQuestions).controls; index as indexAnswer"
                                 [formGroupName]="indexAnswer">

                                <!-- Beschreibung -->
                                <div class="md:flex md:items-center mt-2 mb-2">
                                    <div class="w-64">
                                        <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4">
                                            Beschreibung
                                        </label>
                                    </div>
                                    <div class="w-full">
                                        <input class="w-full" type="text" pInputText
                                               formControlName="beschreibung"/>
                                    </div>
                                </div>

                                <!-- Korrekter Wert -->
                                <div class="md:flex md:items-center mt-2 mb-2">
                                    <div class="w-64">
                                        <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4">
                                            Korrekter Wert
                                        </label>
                                    </div>
                                    <div class="w-full">
                                        <p-checkbox formControlName="korrekterAntwortText"
                                                    [binary]="true"
                                                    *ngIf="controlQuestion.get('antwortTyp')?.value == 0"></p-checkbox>

                                        <input type="text"
                                               class="w-full"
                                               pInputText
                                               formControlName="korrekterAntwortText"
                                               *ngIf="controlQuestion.get('antwortTyp')?.value == 1"/>
                                    </div>
                                </div>

                                <p-divider></p-divider>

                            </div>

                            <button type="button" (click)="addAntwortControl(indexQuestions)"
                                    class="text-white bg-gray-800 rounded-lg ml-1 px-2 py-2 text-center">
                                +Antwort
                            </button>
                        </p-fieldset>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <button type="button" (click)="addFrageControl()"
                    class="text-white bg-gray-800 rounded-lg ml-1 px-2 py-2 text-center">
                +Frage
            </button>
            <button type="submit" [disabled]="testForm.invalid"
                    class="text-white bg-gray-800 rounded-lg ml-1 px-2 py-2 text-center">
                Speichern
            </button>
        </ng-template>
    </p-card>

</form>
